In [ ]:
# Creating a List

In [34]:
mylist = ['Delhi', 'Mumbai', 'Chennai', 'Kolkata']

In [ ]:
# list.append(x) 
# Append List - Add an item to the end of the list

In [35]:
mylist.append('Hyderabad')
mylist

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Hyderabad']

In [ ]:
# list.extend(iterable). 
# Extend the list by appending all the items from the iterable. The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.

In [36]:
myotherlist = ['Chicago', 'NewYork', 'Dallas', 'Los Angeles']

In [37]:
mylist.extend(myotherlist)
mylist

['Delhi',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles']

In [ ]:
# list.insert(i, x)
# Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

In [38]:
mylist.insert(0,'BANARAS')
mylist

['BANARAS',
 'Delhi',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles']

In [39]:
mylist.insert(6,'DEHRADUN')
mylist

['BANARAS',
 'Delhi',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles']

In [40]:
mylist.insert(len(mylist),'KANSAS CITY')
mylist

['BANARAS',
 'Delhi',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles',
 'KANSAS CITY']

In [41]:
mylist.append('Append - KANSAS CITY')
mylist

['BANARAS',
 'Delhi',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles',
 'KANSAS CITY',
 'Append - KANSAS CITY']

In [ ]:
# list.remove(x)
# Remove the first item from the list whose value is equal to x. If there are duplicate items - It removes one of the duplicates

In [42]:
mylist.remove('Append - KANSAS CITY')
mylist

['BANARAS',
 'Delhi',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles',
 'KANSAS CITY']

In [ ]:
# list.pop([i])
# Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

In [45]:
mylist.pop(1)
mylist

['BANARAS',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles',
 'KANSAS CITY']

In [47]:
mylist.pop(len(mylist)-1)
mylist

['BANARAS',
 'Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles']

In [48]:
A = mylist.pop(0) # Return the item removed from the list

In [49]:
A

'BANARAS'

In [50]:
mylist

['Mumbai',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'DEHRADUN',
 'Chicago',
 'NewYork',
 'Dallas',
 'Los Angeles']

In [ ]:
# list.index(x) Return zero-based index in the list of the first item whose value is equal to x.

In [59]:
mylist.index('Chennai')

1

In [ ]:
# Return the number of times x appears in the list.

In [60]:
mylist.count('Chennai')

1

In [ ]:
# list.sort(*, key=None, reverse=False) Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

In [62]:
mylist.sort()
mylist

['Chennai',
 'Chicago',
 'DEHRADUN',
 'Dallas',
 'Hyderabad',
 'Kolkata',
 'Los Angeles',
 'Mumbai',
 'NewYork']

In [63]:
mylist.sort(reverse=True)
mylist

['NewYork',
 'Mumbai',
 'Los Angeles',
 'Kolkata',
 'Hyderabad',
 'Dallas',
 'DEHRADUN',
 'Chicago',
 'Chennai']

In [64]:
# sorting list based on the length of the elements
mylist.sort(key = len)
mylist

['Mumbai',
 'Dallas',
 'NewYork',
 'Kolkata',
 'Chicago',
 'Chennai',
 'DEHRADUN',
 'Hyderabad',
 'Los Angeles']

In [65]:
# sorting list based on the length of the elements
mylist.sort(key = len, reverse = True)
mylist

['Los Angeles',
 'Hyderabad',
 'DEHRADUN',
 'NewYork',
 'Kolkata',
 'Chicago',
 'Chennai',
 'Mumbai',
 'Dallas']

In [66]:
# Create a List 

employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [67]:
employees

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [75]:
# custom functions to get employee info
def get_name(employees):
    return employees.get('Name')


def get_age(employees):
    return employees.get('age')


def get_salary(employees):
    return employees.get('salary')

In [77]:
# sorting by key. Key could be an in-built function or a custom function as above
employees.sort(key=get_name)
employees

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

In [84]:
employees.sort(key=lambda x: x.get('Name'))
employees

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

In [78]:
# sorting by age
employees.sort(key=get_age)
employees

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [85]:
employees.sort(key=lambda x: x.get('age'))
employees

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [79]:
# sorting by salary
employees.sort(key=get_salary)
employees

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [86]:
employees.sort(key=lambda x: x.get('salary'), reverse=True)
employees

[{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}]

In [ ]:
# list.reverse() Reverse the elements of the list in place.

In [91]:
employees.reverse()
employees

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [92]:
employees.reverse()
employees

[{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}]

In [ ]:
# list.copy() Return a shallow copy of the list.

In [93]:
mylist.copy()
mylist

['Los Angeles',
 'Hyderabad',
 'DEHRADUN',
 'NewYork',
 'Kolkata',
 'Chicago',
 'Chennai',
 'Mumbai',
 'Dallas']

In [ ]:
# Using Lists as stacks
# The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”).

In [94]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [95]:
stack.pop() # removes the items from the last (LIFO)

7

In [ ]:
# Using Lists as queues
# To use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)
# Slow process - doing inserts or pops from the beginning of a list (because all of the other elements have to be shifted by one)

In [98]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # adds the item to the end of list
queue.append("Graham")          # adds the item to the end of list
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [99]:
queue.popleft()                 # removes the item from the begin of list

'Eric'

In [100]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [101]:
queue.popleft()                # removes the item from the begin of list

'John'

In [102]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [ ]:
# List comprehension

In [107]:
Num = list(map(lambda x: x**2, range(10)))
Num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Lists Comprehension

In [ ]:
# Create a List using For Loop

In [21]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
squares = [] # Step1: Create an empty list

for x in range(10):   # Step 2: Now fill in the list elements using the for loop
    squares.append(x**2)

squares # Step 3: Print List

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Create a List using Map & Lambda

In [10]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
[(x, y) # Create a list by combining two lists
 for x in [1,2,3] 
 for y in [300,100,400] 
 ]

[(1, 300),
 (1, 100),
 (1, 400),
 (2, 300),
 (2, 100),
 (2, 400),
 (3, 300),
 (3, 100),
 (3, 400)]

In [17]:
combs = []
for x in [1,2,3]:
    for y in [300,100,400]:
            combs.append((x, y))
combs

[(1, 300),
 (1, 100),
 (1, 400),
 (2, 300),
 (2, 100),
 (2, 400),
 (3, 300),
 (3, 100),
 (3, 400)]

## List Operations

In [19]:
# create a new list with the values doubled

vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [22]:
# filter the list to exclude negative numbers

[x for x in vec if x >= 0]

[0, 2, 4]