There are different types of statements in the python they are

Simple statements
Multi-line statements
Multiple statements in a single line
Selection statements
Iterative statements
Jump statements

## SIMPLE ASSIGNMENT STATEMENT

In [1]:
# assignment statement
>>> a = 10
>>> b = 20


# print statement
print(a)
print(b)

# Here we are multiplying variable a and b. This is called python expression
>>> product = a * b
>>> product
200

10
20

200

## MULTILINE STATEMENTS

In [2]:
>>> product = a \
          * b
>>> product
200

200

In [3]:
>>> sumof10 = 1 + 2 + 3 \
           + 4 + 5 + 6 \
           + 7 + 8 + 9 \
           +10

## IMPLICIT LINE CONTINUATION

In [4]:
>>> sumof10 = ( 1 + 2 + 3
+ 4 + 5 + 6
+ 7 + 8 + 9
+ 10 )

In [5]:
>>> a = [ 10, 20, 30, 40,
 50, 60, 70, 80,
 90, 100 ]
>>> a

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## MULTIPLE STATEMENTS IN SINGLE LINE

In [6]:
>>> a = 10; b = 20; c =30; d = a * b; print(d) # USE ";"

200

## SELECTION STATEMENTS

In [7]:
if
if-else
if-elif-else

SyntaxError: invalid syntax (Temp/ipykernel_16036/2742789907.py, line 1)

If

if <condition>:
    <statement>
    <statement>
    <statement>

In [9]:
x = 4
if x < 5:
    print("x is smaller than five")

x is smaller than five

In [ ]:
x = 3

if x < 10:
     print('x below ten')

if x > 1 and x < 4:
    print('x is in range')

If-Else

= is an assignment operator
== is an equality operator

In [11]:
n = 1
if n % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Odd Number

Elif

In [15]:
x = 3

if x == 2:
    print('two')
    
elif x == 3:
    print('three')
    
elif x == 4:
    print('four')
    
else:
    print('something else')

three

## ITERATIVE STATEMENTS

In [ ]:
for loop
while loop

FOR LOOP

In [16]:
n = 0
for i in range(1, 4):
    n = n + i
    
print(n)

6

WHILE LOOP

In [17]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

## JUMP STATEMENTS

In [ ]:
break
continue
pass

BREAK

In [18]:
for letter in 'Python':   
   if letter == 'h':
      break
   print ('Current Letter :' , letter)

Current Letter : P
Current Letter : y
Current Letter : t

CONTINUE

In [19]:
for i in range(1, 11):
 
    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 6:
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end=" ")

1 2 3 4 5 7 8 9 10

PASS

In [23]:
for letter in 'Python': 
   if letter == 'h':
      pass
      print ('This is pass block')
   print( 'Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n